rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gameState/{document=**} {
      allow read, write: if true;
    }
    match /bets/{document=**} {
      allow read, write: if true;
    }
  }
}
